header{
  font-family: HiraMinProN-W3;
  background-color: #FFF5EE;
}
.navbar-title h1 {
  font-size: 25px;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #DEB887;
	text-shadow:
		0.04em 0.02em 0 #B0BEC5,
		0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}