/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 main {
    background-color: #FFF5EE;
}

.comment-box{
    padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px #cc9999;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
.comment-box p {
    margin: 0;
    padding: 0;
}
.comment-box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
}
.comment-box .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.comment-box p {
    margin: 0;
    padding: 0;
}
.box {
    margin: 2em 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box .post-title {
    font-size: 1.2em;
    background: #DEB887;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box p {
    padding: 15px 20px;
    margin: 0;
}
.scroll{
  height: 300px;
  overflow: auto;
}

.box1-5 .genre-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 19px;
}

.box1-5 ul li {
  position: relative;
  list-style-type: none !important;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  line-height: 1.5;
  background: #dbebf8;
  vertical-align: middle;
  color: #505050;
  border-radius: 15px 0px 0px 15px;
}

.box1-5 ul li:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}

