// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.scroll{
  height: 300px;
  overflow: auto;
}

.first-place, .second-place, .third-place {
    font-size:18px;
    margin: 0;
    padding: 51px 0px 51px 195px;
    border-left: none;
    border-bottom: 0px;
    background-size: 75px;
}

.first-place {
    background-image: asset-url('f2-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.second-place {
    background-image: asset-url('f2-2.png');
    background-repeat: no-repeat;
    background-position: center;
}

.third-place {
    background-image: asset-url('f2-3.png');
    background-repeat: no-repeat;
    background-position: center;
}
.main-image {
  width: 100%; /* 横幅いっぱい */
  height: 700px; /* 高さ300px */
  background-image: asset-url('angry.jpg');
  background-size: contain;
}

#title {
  display: flex;
  overflow: hidden;
  color: gray;
  font-size: 32px;
  font-weight: bold;
  span {
    display: inline-block;
    transform: translateY(105%);
    @for $i from 1 to 18 {
      &:nth-child(#{$i}) {
        animation: fadeInText 1s ease 0.1 * $i + s 
forwards;
      }
    }
  }
}
@keyframes fadeInText {
  100% {
    transform: translateY(0);
  }
}